:root {
    --bg: #DCF6F9;
    --text: #0072A7;
    --secondary: #363636;
    --accent: #F6F6F6;
}

* {
    /* outline: red dotted 1px; */
    margin: 0;
    padding: 0;
}

body {
    background: var(--bg);
    color: var(--text);
    font-family: 'Trebuchet MS', sans-serif;
    margin: auto 2rem;
    text-align: center;
    margin-bottom: 1.5rem;
    min-height: 100vh;
}

main {
    margin: auto;
    display: grid;
    grid-template-columns: minmax(150px, 250px) 10fr minmax(150px, 250px);
    grid-template-areas:
        "lg lg lg"
        "tp tp tp"
        "lo .  dt"
        "mt mt mt"
        "ly ly ly"
        "cd cd cd"
        "ft ft ft";
}

.language-section { 
    grid-area: lg; 
    margin-top: 3rem;
    margin-bottom: 2rem;
}
.location-section { 
    grid-area: lo; 
    margin-top: 1rem;
    margin-bottom: 2rem;
}
.current-temp-section { 
    grid-area: tp; 
    margin-bottom: 2rem;
}
.mascot-section { 
    grid-area: mt; 
    margin-bottom: 2rem;
}
.silly-text-section { 
    grid-area: ly;
    margin-bottom: 2rem;
}
.date-section { 
    grid-area: dt; 
    margin-top: 1rem;
    margin-bottom: 2rem;
}
.local-conditions-section { 
    grid-area: cd; 
}
.forecast-section { 
    grid-area: ft; 
}

h2 {
    color: var(--secondary);
}

h3 {
    text-transform: uppercase;
}

.conditions-header {
    color: var(--accent);
    text-transform: uppercase;
}

.current-temp {
    font-size: 4rem;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;  
}

select {
    color: var(--accent);
    background: var(--text);
    padding: .50rem 1rem;
    border-radius: 10px;
    cursor: pointer;
}


.conditions-section {
    background: var(--text);
    display: flex;
    flex-direction: column;
    gap: 1rem;
    text-align: center;
    padding: 1rem 1.5rem;
    margin: 1.5rem 0;
    border-radius: 15px;
}

.condition-container {
    background: var(--accent);
    color: var(--text);
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 0.5rem;
    height: 100%;
    padding: 1rem;
}

.text-and-icon {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    font-size: 16px;
}

.temps {
    display: flex;
    text-align: center;
    gap: 1.25rem;
}

.temp-high,
.temp-low {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 0.25rem;
}

.degree {
    font-size: 1.25rem;
    font-weight: 600;
}

.divider { 
    width: 1px; 
    height: 3rem;
    align-self: center; 
    background: var(--text);
}

@media (min-width: 768px) {
    main {
        grid-template-columns: repeat(12, minmax(0, 1fr));
        grid-template-areas:
        "lg lg lg lg lg lg lg lg lg lg lg lg"
        "tp tp tp tp tp tp tp tp tp tp tp tp"
        ".  .  .  mt mt mt mt mt mt  .  .  ."
        "lo lo lo mt mt mt mt mt mt dt dt dt"
        ".  .  .  mt mt mt mt mt mt  .  .  ."
        ".  .  .  .  ly ly ly ly  .  .  .  ."
        "cd cd cd cd cd cd ft ft ft ft ft ft";
    }
    .local-conditions-section {
        margin-right: 1rem;
    }
    .forecast-section {
        margin-left: 1rem;
    }
    .location-section {
        margin-top: 0;
    }
}

@media (min-width: 1024px) {
    main {
        grid-template-columns: repeat(12, minmax(0, 1fr));
        grid-template-areas:
        "lg lg lg lg lg lg lg lg lg lg lg lg"
        ".  .  .  .  tp tp tp tp .  .  .  ."
        "lo lo lo lo mt mt mt mt dt dt dt dt"
        "cd cd cd cd mt mt mt mt ft ft ft ft"
        ".  .  .  .  ly ly ly ly .  .  .  . ";
    }
    .conditions-section {
        padding: 0.75rem 1rem;
        gap: 0.75rem;
    }
    .text-and-icon {
        padding: 0.5rem 0;
        gap: 0.5rem;
    }
    .temps {
        gap: 0.75rem;
        padding-right: 0.50rem;
    }
    .degree {
        font-size: 1rem;
    }
    .local-conditions-section,
    .forecast-section {
        max-width: 100%;
        
    }
    .mascot-section {
        display: grid;
        place-items: center;
    }
    .mascot-section img {
        width: 100%;
        aspect-ratio: 1/1;


    }
}